<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAprobaciones" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5918/Aprobaciones.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAprobaciones" contract="AprobarWS.IAprobaciones"
                name="BasicHttpBinding_IAprobaciones" />
        </client>
    </system.serviceModel>
</configuration>